<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>

  <vendor>Project Ro-ASD</vendor>
  <vendor_url>https://github.com/Project-Ro-ASD/Ro-Store</vendor_url>

  <action id="org.projectro.RoStore.repository.manage">

    <description>
      Manage the official Ro-ASD software repository
    </description>

    <message>
      Authentication is required to configure the Ro-ASD software repository
    </message>

    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>

    <annotate key="org.freedesktop.policykit.exec.path">
      /usr/libexec/ro-store/ro-store-repo-helper
    </annotate>

  </action>

</policyconfig>
